body {
	font-family: Helvetica, Verdana, sans-serif;
}
h1 {
	margin: 5px 0px;
}
.strip_row {
	background-position: 0px 0px;
}
#displayHolder {
	margin: 0px;
	padding: 0px;
}
#left {
	max-width: 250px;
	margin-right: 20px;
	margin-bottom: 20px;
	padding: 0px 20px;
}
#left,
#displayHolder {
	display: inline-block;
	vertical-align: top;
}

#settings h1 {
	font-size: 1.5em;
}
.img_list {
	padding: 0;
}
.img_item {
	padding: 0.5em;
	margin: 5px 0;
	cursor: pointer;
	border: 1px dotted #aaa;
	display: block;
}
.img_item.current {
	border-style: solid;
	border-color: #000;
	background-color: #ccc;
	text-decoration: underline;
}
